@import url("https://fonts.googleapis.com/css2?family=Changa&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
html {
  background-image: url(../images/net.jpg);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  overflow: auto;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
  header {
    font-family: "Bebas Neue", cursive;
    h1 {
      text-align: center;
      margin: 0;
      padding: 0.4em;
      font-family: "Changa", sans-serif;
      font-size: 30px;
      text-shadow: 2px 2px 2px black;
    }
    .custom-border {
      position: relative;
      padding: 0;
      height: 5px;
      background: linear-gradient(to right, black, cyan);
    }
  }
  main {
    .landing-page {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 4.5%;
      margin-bottom: 10%;
      .card {
        width: 18rem;
        height: 23rem;
        margin: 2em;
        border: none;
        border-radius: 1em;
        background: white;
        color: black;
        text-align: center;
        .btn {
          margin: 0;
          width: 100%;
          border-radius: 0;
          border-bottom-right-radius: 1em;
          border-bottom-left-radius: 1em;
          font-weight: bold;
          text-shadow: 2px 2px 2px black;
        }
        .card-title {
          font-weight: bold;
        }
      }
      .card img {
        border-radius: 1em;
      }
      .simulation .card-title {
        padding-top: 20px;
      }
      .about .card-title {
        padding-top: 14px;
      }
    }
    .about-page {
      color: black;
      margin-top: 3%;
      .card {
        margin: 2rem;
        border-radius: 1em;
        text-align: center;
        .card-header {
          background-color: white;
          button {
            color: black;
          }
        }
        .card-body {
          background-color: rgba(0, 0, 0, 0.4);
          text-align: left;
          .flowchart {
            text-align: center;
          }
        }
        .custom-scroll {
          overflow-y: scroll;
          height: 20em !important;
        }
      }
    }
    .simulation-page {
      overflow-x: hidden;
      background-color: rgba(0, 0, 0, 0.4);
      text-shadow: 1px 0px 1px black;
      .station {
        height: 20rem;
        img {
          padding-top: 1em;
          width: 130px;
        }
        .holder{
          .select-station {
            background-color: lightslategray;
            font-size: 0.5em;
            color:white;
          }
        }
        .stats {
          text-align: center;
          padding-top: 1em;
        }
      }
      .send-data{
        height: 6rem;
        padding-top: 1.3rem;
        button{
          background: #778899;
          padding: .5rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          border: none;
          border-radius: 2rem;
          color: white;
        }
        button:hover{
          color: black;
        }
      }
      .router {
        margin-bottom: 0.5em;
        margin-top: 0.5em;        
        img {
          width: 110px;
        }
        .router-stats {
          padding-top: 1em;
        }
      }
      .data-sender, .data-receiver{
        p{
          padding-top: 4.5rem ;
        }
        img{
          width: 80px;
        }
      }
     /* .active-stations{
        border: 1px solid white;
        border-radius: 2em;
        height: 4rem;
        margin-top: 3.5%;
        padding: 1rem;
        img {
          width: 30px;
        }
        .transmission{
          display: flex;
        }
      } */
    }
    .team-page {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 4.5%;
      .card {
        width: 14rem;
        margin: 2em;
        background: linear-gradient(white, rgba(13, 13, 245, 0.719));
        border: 1px solid black;
        color: white;
        text-align: center;
        .card-title {
          font-weight: bold;
        }
      }
      .download {
        background: linear-gradient(to right, white, rgba(13, 13, 245, 0.719));
        padding: 1rem;
        border-radius: 2rem;
        text-decoration: none;
        color: black;
        margin-top: 3rem;
        height: 3.3rem;
      }
      .download:hover {
        background: white;
      }
    }
  }
}